
@import url("reset.css");
@import url("common.css");


//
$borwn:#a99578;
$blue:#0F4C75;
$white:#FCFCFC;
$fontNoto:"Noto Sans CJK TC";
$fontGeo:"Georgia";
$fontSans:"sans-serif";


*{
	margin:0;
	padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	font-family: $fontGeo,$fontNoto,$fontSans;
}
ul{list-style: none;}
a{text-decoration: none;}
img{display: block;}
html,body{
    width: 100%;
    height: 100%;
}

/*banner*/
	.bg-area{
		width: 100%;
		height: 850px;
		/* background:#161616; */
	    background-position: center bottom;
		background-repeat: no-repeat;
		background-image: url('../images/Millbrook_Resort 1.jpg')
	}

	/*Contact Us*/
	.headerInfo{
	     position: absolute;
	     top: 42%;
	     left: 38%;
	     text-align: center;

	}

	.headerInfo>h1{	
		font-size: 60px;
		margin-bottom: 46px;
		color: $white;
		font-family:Georgia;
	}

	.headerInfo>p{
		font-family: Noto Sans CJK TC;
		font-size: 36px;
		margin-bottom: 28px;
		/* White */
		color: $white;
	}

	.headerInfo>hr{
		width: 80px;
	    border-color: $white;
	    margin-top: 0px;
	}

/*section*/
 	.black{color:black;}
	.form{
		width: 100%;
		height: auto;
		overflow: hidden;
		padding: 78px 9%;
	}
	.form>div{
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	.form ul{
		width: 100%;
		height: auto;
		overflow: hidden;
		
	}
	.form ul>li{
		width: 33.3%;
		float: left;
	    padding-right: 3.7%;
	    height: 120px;
	}
	.form ul>li:last-child{
		padding-right:0%;
	}
	.form p{
		font-family: Noto Sans CJK TC;
		font-weight: bold;
		font-size: 24px;
		padding-bottom: 8px;
	/* 	padding-bottom: 14px; */
		color: $blue;
	}
	.form ul>li>input{
		width: 100%;
		height: 55px;
		/* height: 70px;
		line-height: 36px */	
	}
	.form .content {
		padding-top: 45px;
	}
	.form .content>textarea{	
		width: 100%;
		height: 284px;
	}
	.form ul>li>input,
	.form .content>textarea{
		/* 	font-size: 24px;
		line-height: 36px; */
		font-size: 20px;
		font-family: Noto Sans CJK TC;
		color: #BDBDBD;
		border: 1px solid $blue;
		padding-left: 10px;
	}
	.form>div:last-child{
		width: 100%;
		padding: 0 13%;
		height: auto;
		overflow: hidden;
	}
	.form h3{
		float: right;
		margin-top:32px;
		padding-top: 15px;
		padding-bottom: 15px;
		width: 20%; 
		font-size: 24px;
	}
	.googleMap{
		width: 100%;
		height: 454px;
	}


/* ---------- 1024 iPad  ----------*/
@media screen and (max-width: 1024px){
	.bg-area{
		height: 604px;
	}
	.headerInfo>h1{	
		font-size: 42px;
		margin-bottom: 32px;
	}

	.headerInfo>p{
		font-size: 26px;
		margin-bottom: 20px;
	}
	.form {
   		padding: 56px 9%;
	}
		.form h3{
		margin-top:23px;
		padding-top: 11px;
		padding-bottom: 11px;
	}
}

/* ---------- 768 iPad  ----------*/
@media screen and (max-width: 768px){
	.headerInfo {
	    top: 28%;
	    left: 32%;
	}
	.form {
	    padding: 41px 6%;
	}
	.form h3 {
	    width: 20%;
	}
}

/* ---------- 414  ----------*/
@media screen and (max-width: 414px){
	.bg-area{
		height: 812px;
	}
	.headerInfo {
	     top: 35%;
	    left: 20%;
	}
	.form ul>li{
		width: 100%;
		padding-right: 0px;
	}
	.form ul>li>input{
		width: 100%;
		height: 54px;
		font-size: 18px;
		padding-left: 5px;
		margin-bottom: 36px;
	}
	.form h3 {
  		width: 30%;
	}
	.form>div:last-child {
     padding: 0px;
	}

}

/* ---------- 375  ----------*/
@media screen and (max-width: 375px){
	.bg-area{
		height: 812px;
	}
	
	.headerInfo {
	    top: 35%;
	    left: 16%;
	}
	.headerInfo>h1{	
		font-size: 48px;
		margin-bottom: 15px;
	}
	.headerInfo>p{
		font-size: 24px;
	}
	.headerInfo>hr{
		width: 50px;
	}
	.form {
		height: 775px;
		padding: 32px 15px 65px 15px;
	}
	.form p{
		font-size: 18px; 
	}
	.form .content> textarea{
		height: 210px;
		font-size: 18px;
		line-height: 36px;
		padding-left: 5px;
	}
	.form h3{
		margin-top:12px;
		padding-top: 8px;
		padding-bottom: 8px;
		width: 30%; 
		font-size: 18px;  
	}
 

}